[tool.poetry]
name = "async-pixiv"
version = "0.0.5"
description = "Async Pixiv API"
license = "MIT"
authors = ["Arko <arko.space.cc@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/ArkoClub/async-pixiv"
repository = "https://github.com/ArkoClub/async-pixiv"
keywords = ["pixiv", "async", "pixiv-api"]
include = ["LICENSE"]
maintainers = ["Karako <karakohear@gmail.com>"]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
packages = [
    { include = "async_pixiv", from = "src" },
]


[tool.poetry.dependencies]
python = "^3.7"
pydantic = {extras = ["email"], version = "^1.9.1"}
aiohttp = "^3.8.1"
aiohttp-socks = "^0.7.1"
arko-wrapper = "^0.2.0"
regex = { version = "^2022.7.25", optional = true }
ujson = { version = "^5.4.0", optional = true }
uvloop = { version = "^0.16.0", optional = true, markers = "sys_platform!='win32'" }
playwright = { version = "^1.24.0", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^3.0"

[tool.poetry.extras]
regex = ["regex"]
ujson = ["ujson"]
playwright = ["playwright"]
extra = ["regex", "ujson", "uvloop"]
full = ["regex", "ujson", "uvloop", "playwright"]


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
name = "official-pypi"
url = "https://pypi.python.org/simple"